<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Leave Tracking System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/new-leave-requests"
            >New Requests</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/leave-overview">Overview</a>
        </li>
        <li class="logout">
          <a class="nav-link" style="color: white" routerLink="/">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1>New Leave Requests</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of leaveApplications">
        <ng-container *ngIf="application.status === 'Pending'">
          <td>{{ application.fname }}</td>
          <td>{{ application.leaveType }}</td>
          <td>{{ application.startDate }}</td>
          <td>{{ application.endDate }}</td>
          <td>{{ application.reason }}</td>
          <td>
            <button class="btn btn-success" (click)="acceptLeave(application)">
              Accept
            </button>
            <button class="btn btn-danger" (click)="rejectLeave(application)">
              Reject
            </button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
