<head>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  </head>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          
          <div class="dropdown">
            <button class="dropbtn">Leave Tracking System</button>
            <div class="dropdown-content">
            <button routerLink="/new-leave-requests" >New Requests</button>
            <button routerLink="/leave-overview">Overview</button>
          </div>
          </div>
        </li>
        <li class="logout">
          <div class="dropdown">
          <button class="dropbtn"><i class='far fa-user-circle user-icon'></i> {{ signupObj.fname}} {{signupObj.lname }}</button>
          <button routerLink="/" class="dropdown-content">Logout</button>
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
